# here we specify files, file types or folder that we want dont want to store on github

# for example we don't need to version control the log files from compiling

*.log

# until published we might not want to store our data on git so we can specify name to ignore that

survey-data.csv

pilot_1-data.csv

china_survey.csv

*.Rhistory

.Rproj.user

.Rhistory